@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing:  border-box;
}


body {
    display: grid;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather','Nunito', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e72b4;
    color: white;
   
}

header h1{
    font-size: 1.5rem;
    margin: .5rem;
}

.right-side{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: .5rem;
}

.bell {
    width: 20px;
    
    
}

.right-side img{
    border-radius: 100px;
    width: 45px;
    
}

/* ****************Nav Bar ***************************** */

nav {
    background-color: #6856b8;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

nav img {
    
    width: 40px;
    
}

/* ===================================== 
   Grid Layout
======================================== */

.grid-container {
    background-color: red;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
}
    
header {
    grid-area: header;
    
}
    
nav {
    grid-area: navigation;
    
}
    
main {
    grid-area: main;
    background-color: rgb(209, 144, 211);
}


/* ===================================== 
   media Queris Grid
======================================== */


@media (min-width: 768px) {
        .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
    }

}

/* ===================================== 
   main at 768px
======================================== */

main {
    display: grid;
    }

    @media (min-width: 768px) {
        main {
        grid-template-columns: 50% ;
    }
}

@media (min-width: 768px) {
    .traffic, .social, .main-header, .alert, .recent, .members, .settings, .message {
    grid-column: 1 / span 2;
    }
}

@media (min-width: 1024px) {
    .daily, .members, .message {
    grid-column: 1 / span 1;
    }
}

@media (min-width: 1024px) {
    .mobile, .recent, .settings {
    grid-column: 2 / span 1;
    }
}


.widget-container-full, .widget-container-half {
    width: 95vw;
    }
    @media (min-width: 768px) {
        .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}




/* ===================================== 
   Dashboard
======================================== */

.main-header {
    display: flex;
    gap: 20px;
    margin-bottom: 0; 
    vertical-align: middle;
    background-color: white;
    padding-bottom: 20px;
    padding-left: 10px;
    
}

.main-header-search{
    width: 100%;
}

.main-header-search input {
    height: 90px ;
    width: 100%;
    background-color: rgb(228, 222, 222);
}


/* ===================================== 
   social Stats
======================================== */
.social{
    display: flex;
    flex-direction: column;
    background-color: white;
    
    
}
.social h3{
    width: 90%;
    background-color:  red;
    align-self: center;
}


.social-block {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hotpink;
    
    width: 90%;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: lightgray;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
}



.social-image {
    background-color: #7e72b4;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    
    padding-left: 10px;
    padding-right: 10px;
    
}


.social-image svg {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 40px;   
}

.social-text p:first-of-type {
    color: #7e72b4;
    background-color: rgb(138, 158, 91);
    margin: 0;
    
}

.social-text p:nth-of-type(2n) {
    background-color: rgb(222, 231, 202);
    margin-top: 0; 
    margin-bottom: 20px;
    font-size: 45px;
}


/* ===================================== 
   new members
======================================== */
.members, .recent{
    display: flex;
    flex-direction: column;
    
}
.members h3, .recent h3{
    align-self: center;
    width: 90%;
    
}


.members-container{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: tomato;
    
    border-bottom: solid 1px black;
    width: 90%;
    padding-bottom: 10px;
}

.members-container p, .members-text p {
    margin: 0;
    padding: 0;
}

.members-text a{
    text-decoration: none;
    
}

.profile-image{
    width: 80px;
    border-radius: 50%;
}

/* ===================================== 
   meassage
======================================== */

.message{
    display: flex;
    flex-direction: column;

}

.message h3{
    align-self: center;
    width: 90%;
    
}

.widget-container{
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.widget-container input {
    height: 40px ;
    width: 100%;
    background-color: rgb(228, 222, 222);
    border-radius: 5px;
}

.widget-container textarea {
    height: 120px ;
    width: 100%;
    background-color: rgb(228, 222, 222);
    border-radius: 5px;
}

.button-primary {
    height: 40px ;
    color: white;
    background-color: #7e72b4;
    border-radius: 5px;
}

/* ===================================== 
   settings
======================================== */
.settings{
    display: flex;
    flex-direction: column;

}

.settings h3{
    align-self: center;
    width: 90%;
    
}

.setting-container{
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    
}

.form-field {
    height: 40px ;
    width: 100%;
    background-color: rgb(228, 222, 222);
    border-radius: 5px;
}

.settings-button{
    display: flex;
    gap: 10px ;
}

.settings-button button{
    flex-grow: 1;
}


/* ===================================== 
   media Queris
======================================== */

@media (min-width: 768px) {
    nav {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }

    /* ************* social ************ */
    .social h3{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social-block {
        
        width: 100%;
        flex-direction: row;
        padding-left: 10px;
        padding-right: 10px;
        gap: 20px;
        
    }

    .social-container {
        flex-grow: 1;
        
    }

    /* ************* members ************ */

    .members-container{
        flex-direction: row;
        gap: 20px;
        text-align: start;
        align-content: space-between;
        
        
    }
    .members-text{
        background-color: chartreuse;
        flex-grow: 1;
    }

    
    

}





/* ******************+ helper colors *******************/



.alert {
    background-color:tomato;
}

.traffic {
    background-color: yellow;
}


.daily{
    background-color: wheat;
}



.members{
    background-color: rgb(138, 158, 91);
}


.message {
    background-color: turquoise;
}

